.completeButtonContainer {
  height: 3rem;
  background-color: #51d451;
}

.completeButtonContainer:active {
  background-color: #29a329;
}

.deleteButtonContainer {
  height: 3rem;
  background-color: #ff4d4d;
}

.deleteButtonContainer:active {
  background-color: #ff1a1a;
}

.disabledButton,
.button {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 0.5rem;
  outline: none;
  border: none;
  background-color: inherit;
  box-shadow: 1px 1px 3px #888;
  transition: 0.5s;
}

.disabledButton {
  height: 3rem;
  background-color: #999;
}

.button:active {
  box-shadow: 2px 2px 7px #444;
  transform: scale(0.95);
  transition: 0.2s;
}

.deleteIcon,
.completeIcon {
  width: 1.75rem;
}

.deleteIcon {
  opacity: 0.65;
}

@media only screen and (min-width: 600px) {
  .completeButtonContainer:hover {
    background-color: #2eb82e;
  }

  .deleteButtonContainer:hover {
    background-color: #ff3333;
  }

  .button {
    cursor: pointer;
  }

  .button:hover {
    box-shadow: 2px 2px 5px #666;
    transition: 0.4s;
  }

  .button:active {
    box-shadow: 2px 2px 7px #444;
    transition: 0.2s;
  }

  .deleteIcon,
  .completeIcon {
    width: 2rem;
  }
}
