@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

body {
  overflow-x: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0;
  color: #4d4d4d;
  font-weight: 600;
}

.title {
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
}

.description {
  width: 80%;
  margin: 1.5rem 2rem 0 2rem;
  padding: 0.25rem 1rem;
  padding-top: 0;
  border: 0 solid #000;
  border-bottom-width: 2px;
  text-align: center;
  font-size: 1.55rem;
  font-weight: 600;
}

.subContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 30rem;
  position: relative;
  overflow: hidden;
  transition: 0.5s;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: #999;
}

@media only screen and (min-width: 600px) {
  .container {
    padding: 2.5rem;
  }

  .description {
    width: auto;
    margin-top: 1.25rem;
  }

  .mobileNewLine {
    display: none;
  }

  .subContainer {
    height: 30rem;
    width: 24rem;
  }

  .subContainer.open {
    width: 39rem;
  }
}

@media only screen and (min-width: 800px) {
  .subContainer {
    width: 32rem;
  }

  .subContainer.open {
    width: 47rem;
  }
}

@media only screen and (min-width: 1200px) {
  .subContainer {
    width: 42rem;
  }

  .subContainer.open {
    width: 62rem;
  }
}
